modules = ["nodejs-20"]
[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"
author = 39617731

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[nix]
channel = "stable-24_05"
